:root {
    --size-header: 100px;
}
.app {
    font-family: Arial;
    display: flex;
    margin: 0 80px 10px;
    border-radius: 40px;
    overflow: hidden;
    border: solid 6px #151e28;
    
}
.header {
    width: var(--size-header);
    min-height: calc(100vh - 46px);
    background-color: #151e28;
    padding: 10px;
    position: relative;
}
.header-top {
    color: #ffffff;
    font-weight: 550;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    background-color: #151e28;
    font-size: 18px;
}
.body {
    display: flex;
    width: calc(100% - var(--size-header));
}
