:root {
    --size-header: 100px;
}
.app {
    font-family: Arial;
    display: flex;
    margin: 0 80px 2px;
    border-radius: 40px;
    overflow: hidden;
    border: solid 6px #151e28;
}
.header {
    width: var(--size-header);
    height: calc(100vh - 46px);
    background-color: #151e28;
    padding: 10px;
}

.body {
    display: flex;
    background-color: #f7f6f9;
    width: calc(100% - var(--size-header));
}
